body {

    background: linear-gradient(180deg, black 7%, blue 50%, rgb(132, 0, 255) 90%);
 
}

.botao {

    background-color: rgb(59, 188, 228);
    -webkit-text-fill-color: rgb(255, 255, 255);

}


.textogrande {

    text-align: center;


    -webkit-text-fill-color: rgb(174, 0, 255);
    margin: 10px;
    margin-top: 20px;
    background-color: #666;
    position: relative;
    border-radius: 100px;




}


.textopequeno {

    margin: auto;
    text-align: center;
    padding: 10px;



}

ul {

    padding-left: 10px;

}

.video {

    width: auto;
    height: auto;
    display: flex;
    margin: auto;
    border-radius: 15px;
    margin-top: 30px;

}





.footer-fundo {

    border-radius: 40px;


}


.carousel-fotos {

    width: 800px;
    height: 500px;
    display: flex;
    margin: auto;
    margin-top: 30px;

}

.butão-youtube {

    background-color: #666;
    -webkit-text-fill-color: rgb(255, 123, 0);

}






.text-card-cor {

    -webkit-text-fill-color: rgb(135, 1, 197);
    font-size: 23px;
    font-family: montserrat;

}

.cartao-video {

    display: flex;
    margin: auto;
    margin-top: 20px;
    border-radius: 25px;

}

.card-img-top {

    border-radius: 20px;

}

.img-card {

    width: 240px;
    display: flex;
    margin: center;

}

.contatos {

    font-size: 35px;
    -webkit-text-fill-color: chocolate;
    margin-left: 10px;

}

.foto-contato {

    display: flex;
    margin: auto;
    width: 600px;
    height: 500px;
    border-radius: 20px;
    margin-top: 2.5%;
}

.pcgamer {

    display: flex;
    margin: auto;
    border-radius: 20px;

}

.cadastro {

    margin-top: 12%;
    background-color: rgb(139, 135, 135);

}

.carrosel-pc {

    margin-top: 5%;

}

.foto-redondo {

    width: 100%;
    max-width: 160px;
    aspect-ratio: 1/1;
    object-fit:cover;
    border-radius: 50%;

}

.foto2-redondo {

    width: 100%;
    max-width: 160px;
    aspect-ratio: 1/1;
    object-fit:cover;
    border-radius: 50%;

}

.foto3-redondo {

    width: 100%;
    max-width: 160px;
    aspect-ratio: 1/1;
    object-fit: none;
    border-radius: 50%;

}

.formulario {

    background-color: #666;

}

.wrapper {

    background-color: #666;

}

.container-cards {
    display: grid;
    grid-template-rows: 45%;
    grid-template-columns: 23% 23% 23% 23%;
    grid-column-gap: 1%;
    grid-row-gap: 10%;
}


.img-card {

    width: 200px;
    height: 200px;  
    display: flex;
    margin: auto;
    margin-top: 1px;
    border-radius: 30px;
}

.texto-pequeno {

    -webkit-text-fill-color: rgb(0, 189, 0);
    display: flex;
    margin-left: 60px;

}

.card-text {

    -webkit-text-fill-color: rgb(0, 189, 0);

}



.produtos {

    -webkit-text-fill-color: white;
    margin-left: 40px;

}

.container-cards2 {

    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: 40%;
    margin-top: 8%;
    grid-column-gap: 1%;
    grid-row-gap: 1%;

}

.carrosel-venda {

    height: 500px !important;

}

.texto-carroselinicial-grande {

    -webkit-text-fill-color: black;

}

.texto-carroselinicial-pequeno {

    -webkit-text-fill-color: black;

}

.texto-carroselinicial-pequeno2 {

    -webkit-text-fill-color: white;

}

.texto-carroselinicial-pequeno3 {

    -webkit-text-fill-color: white;

}

.img-icon {

    border-radius: 50% !important;

}

.menu {

    
    
    margin-right: 77%;

}

.container-navbar {

    background-color: #666;

}
.navbar {

    padding: 0%;

}

.navbar-sobremim {

    padding: 0%;

}


.container-cards-sobremim {
    grid-template-columns: 40% 40%;
    grid-template-rows: 20% 20%;

}

.card-img-sobremim {
    
    width: 100px;
    height: 300px;

}

.projeto-text {

    -webkit-text-fill-color: white;

}

.texto-contato {

    -webkit-text-fill-color: white;
    
}


  
